/* app/login/login.css */

.login-container {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  .login-form {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  